.subjectListItem {
  width: fit-content;
  padding-left: 20px;
  column-gap: 15px;
  
  border-radius: 45px;
  background: var(--brand-color);
  font-size: 18px;
  color: var(--white);

  display: flex;
  flex-direction: row;
  align-items: center;
} 