.SubjectForm  {
  width: fit-content;

  display: flex;
  flex-direction: column;
}

.SubjectForm .field {
  width: 500px;
  max-width: 250px;
  margin-top: 20px;

  font-size: 16px;
}

.SubjectForm button {
  margin-top: 35px;
  border-radius: 5px;
  background: var(--blue);
  padding: 4px;
  
  font-size: 20px;
  font-weight: 700;
  color: var(--white);
}

.SubjectForm button:disabled {
  opacity: 0.8;
  cursor: default;
}

.SubjectForm .success {
  width: 100%;
  margin-top: 10px;

  font-size: 20px;
  font-weight: 700;
  color: var(--blue);
}

.SubjectForm .error {
  width: 100%;
  color: #a4363c;
  margin-top: 2px;
}