.timerDisplay {
  font-size: 55px;
  font-weight: 500;
  color: var(--light-black);
  transition: color 250ms, opacity 250ms, font-size 300ms;
}

.running {
  font-size: 75px;
  color: var(--blue);
}

.stopped {
  font-size: 75px;
  color: var(--blue);
  opacity: 0.8;
}