.timerDisplay {
  font-size: 55px;
  font-weight: 500;
}

/* Countdown */
.countdown {
  color: var(--light-black);
  transition: color 300ms, opacity 300ms, font-size 300ms;
}

.countdown.running {
  font-size: 75px;
  color: var(--blue);
}

.countdown.stopped {
  font-size: 75px;
  color: var(--blue);
  opacity: 0.8;
}

/* Timer finished */
.timerFinished .checkIcon {
  font-size: 75px;
  color: #fff;

  border-radius: 10px;
  padding: 5px;
  background: var(--green);
}

/* fadeIn */
.fadeIn {
  composes: fadeIn from '../../global.css';
}