.snackbar {
  width: 100%;
  max-width: 200px;
  background: var(--blue);
  border-radius: 10px;
  padding: 8px;

  font-size: 16px;
  color: var(--white);

  display: flex;
  flex-direction: column;
  row-gap: 10px;

  position: absolute;
  right: 0px;
  top: 10px;
}

.progressBar {
  height: 4px;
  background: var(--white);
  width: 100%;
  border-radius: 10px;
}

.innerBar {
  background: var(--brand-color);
  border-radius: 10px;
  height: 100%;
  animation: innerBar forwards ease-in-out;
}

@keyframes innerBar {
  0% { 
    width: 0; 
  }
  100% { 
    width: 100%; 
  }
}