.timerControls {
  margin-top: 20px;
  background: var(--white);
  width: 100%;
  border-radius: 45px;
  text-align: center;
}

.timerControls .timerControl {
  color: var(--blue);
  font-size: 30px;
}