.wrapper {
  max-width: 1300px;
  padding: 20px;
  margin: 0 auto;
  overflow: auto;
}

.wrapper main {
  position: relative;
}

.nextSubjects {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 300px;
}

.wrapper .nextSubjects h2 {
  font-weight: 400;
  font-size: 25px;
  color: var(--brand-color);
}

.wrapper .nextSubjects .see-more {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 25px;
  color: var(--brand-color);
}

.blur {
  filter: blur(2px);
}