.tooltip {
  width: 1000px;
  max-width: 200px;
  background: var(--white);
  border-radius: 10px;

  position: absolute;
  right: 0;
  top: 110%;
}

.tooltip header {
  width: fit-content;
  margin: 0 auto;
}

.tooltip header .title {
  color: var(--brand-color);
  font-weight: 400;
}

.tooltip .fields {
  width: fit-content;
  margin: 0 auto;
}