:root {
  --background-color: #FFDFB9;
  --brand-color: #E75050;
  --white: #fff;
  --blue: #00168acc;
  --light-black: rgba(30, 37, 50, 0.85);
  --black: rgb(30, 37, 50);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  color: var(--light-black);
  background: var(--background-color);
}

button {
  cursor: pointer;
  background: none;
  border: none;
  font-family: inherit;
}

input {
  font-family: inherit;
}

/* Next subjects */
.next-subjects {
  margin: 0 auto;
  margin-top: 40px;
  max-width: 300px;
}

.next-subjects h2 {
  font-weight: 400;
  font-size: 25px;
  color: var(--brand-color);
}

.next-subjects .see-more {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 25px;
  color: var(--brand-color);
}