.progressRing {
  position: relative;
}

.progressRing .content {
  position: absolute;
  top: 50%;  
  left: 50%;

  transform: translate(-50%, -50%);
}

.progressRing svg circle {
  transition: stroke-dashoffset 0.35s;

  /* axis compensation */
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}