form  {
  width: fit-content;

  display: flex;
  flex-direction: column;
}

form .success {
  font-size: 20px;
  margin-top: 10px;
  font-weight: 700;
  color: var(--blue);
}

form .field {
  margin-top: 10px;
}

form .error {
  color: #a4363c;
  margin-top: 2px;
}

form .field label {
  font-size: 16px;
}

form .field input {
  display: block;
  width: 500px;
  max-width: 250px;

  outline: none; 
  border: none;
  border-bottom: 2px solid var(--brand-color);
  border-radius: 0px;
  background: inherit;

  font-size: 23px;
  color: var(--black);
  font-weight: 500;
}

form button {
  margin-top: 30px;
  border-radius: 5px;
  background: var(--blue);
  padding: 4px;
  
  font-size: 20px;
  font-weight: 700;
  color: var(--white);
}

form button:disabled {
  opacity: 0.8;
  cursor: default;
}